# Import CSV on Flight Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('airline_delay_causes.csv')

In [3]:
df.head()

,Unnamed: 0,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,0,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307.0,56.0,14.68,...,9.96,1.0,1.0,2530.0,510.0,621.0,676.0,25.0,698.0,NaN
1,1,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90.0,27.0,7.09,...,7.16,0.0,0.0,1390.0,271.0,83.0,581.0,0.0,455.0,NaN
2,2,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752.0,186.0,33.99,...,17.53,5.0,0.0,8314.0,1367.0,1722.0,3817.0,139.0,1269.0,NaN
3,3,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842.0,174.0,60.24,...,40.75,9.0,1.0,8344.0,3040.0,1032.0,1835.0,115.0,2322.0,NaN
4,4,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383.0,55.0,14.90,...,16.61,0.0,0.0,3137.0,815.0,574.0,555.0,0.0,1193.0,NaN

# Reset column names

In [4]:
df.columns

Index(['Unnamed: 0', 'year', ' month', 'carrier', 'carrier_name', 'airport',
       'airport_name', 'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct',
       'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled',
       'arr_diverted', ' arr_delay', ' carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')

In [5]:
df.columns = 'unnamed', 'year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name', 'total_arrival_flights', 'num_arr_delays', 'num_aircarrier_delay', 'num_weather_delay', 'num_nas_delay','num_security_delay', 'num_lateaircraft_delay', 'num_cancelled', 'num_diverted', 'tot_arr_delay_mins', 'carrier_delay_mins', 'weather_delay_mins', 'nas_delay_mins','security_delay_mins', 'lateaircraft_delay_mins', 'Unnamed'

In [6]:
df = df.drop(['Unnamed'], axis=1)
df = df.drop(['unnamed'], axis=1)

In [7]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,total_arrival_flights,num_arr_delays,num_aircarrier_delay,num_weather_delay,...,num_security_delay,num_lateaircraft_delay,num_cancelled,num_diverted,tot_arr_delay_mins,carrier_delay_mins,weather_delay_mins,nas_delay_mins,security_delay_mins,lateaircraft_delay_mins
0,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307.0,56.0,14.68,10.79,...,1.48,9.96,1.0,1.0,2530.0,510.0,621.0,676.0,25.0,698.0
1,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90.0,27.0,7.09,2.00,...,0.00,7.16,0.0,0.0,1390.0,271.0,83.0,581.0,0.0,455.0
2,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752.0,186.0,33.99,27.82,...,1.90,17.53,5.0,0.0,8314.0,1367.0,1722.0,3817.0,139.0,1269.0
3,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842.0,174.0,60.24,20.54,...,4.69,40.75,9.0,1.0,8344.0,3040.0,1032.0,1835.0,115.0,2322.0
4,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383.0,55.0,14.90,8.91,...,0.00,16.61,0.0,0.0,3137.0,815.0,574.0,555.0,0.0,1193.0

In [8]:
df.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'total_arrival_flights', 'num_arr_delays', 'num_aircarrier_delay',
       'num_weather_delay', 'num_nas_delay', 'num_security_delay',
       'num_lateaircraft_delay', 'num_cancelled', 'num_diverted',
       'tot_arr_delay_mins', 'carrier_delay_mins', 'weather_delay_mins',
       'nas_delay_mins', 'security_delay_mins', 'lateaircraft_delay_mins'],
      dtype='object')

# Dealing with Null Values

dropping rows with no number of flights and filling in num_arr_delays that are empty with 0

In [9]:
df.isna().sum()

year                         0
month                        0
carrier                      0
carrier_name                 0
airport                      0
airport_name                 0
total_arrival_flights      367
num_arr_delays             423
num_aircarrier_delay       367
num_weather_delay          367
num_nas_delay              367
num_security_delay         367
num_lateaircraft_delay     367
num_cancelled              367
num_diverted               367
tot_arr_delay_mins         367
carrier_delay_mins         367
weather_delay_mins         367
nas_delay_mins             367
security_delay_mins        367
lateaircraft_delay_mins    367
dtype: int64

In [10]:
df = df[pd.notnull(df['total_arrival_flights'])]

In [11]:
df = df.fillna(0)

In [12]:
df.isna().sum()

year                       0
month                      0
carrier                    0
carrier_name               0
airport                    0
airport_name               0
total_arrival_flights      0
num_arr_delays             0
num_aircarrier_delay       0
num_weather_delay          0
num_nas_delay              0
num_security_delay         0
num_lateaircraft_delay     0
num_cancelled              0
num_diverted               0
tot_arr_delay_mins         0
carrier_delay_mins         0
weather_delay_mins         0
nas_delay_mins             0
security_delay_mins        0
lateaircraft_delay_mins    0
dtype: int64

In [13]:
df.describe()

,year,month,total_arrival_flights,num_arr_delays,num_aircarrier_delay,num_weather_delay,num_nas_delay,num_security_delay,num_lateaircraft_delay,num_cancelled,num_diverted,tot_arr_delay_mins,carrier_delay_mins,weather_delay_mins,nas_delay_mins,security_delay_mins,lateaircraft_delay_mins
count,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000,266378.000000
mean,2010.865740,6.482348,398.836011,78.503626,21.993584,2.806395,26.339747,0.181299,27.182662,6.830804,0.921078,4477.727275,1315.061841,230.666804,1209.546010,7.157209,1715.294683
std,4.770152,3.420350,1058.662753,208.900404,48.028565,10.518730,90.737044,0.850443,79.316622,28.495503,4.100107,13028.369431,3465.801345,882.191042,4958.373165,37.808954,5138.188657
min,2003.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-19.000000,0.000000,0.000000
25%,2007.000000,4.000000,62.000000,11.000000,3.680000,0.000000,2.100000,0.000000,2.000000,0.000000,0.000000,521.000000,176.000000,0.000000,73.000000,0.000000,104.000000
50%,2010.000000,6.000000,128.000000,25.000000,9.100000,0.700000,6.380000,0.000000,6.840000,1.000000,0.000000,1341.000000,478.000000,31.000000,237.000000,0.000000,408.000000
75%,2015.000000,9.000000,287.000000,61.000000,20.900000,2.230000,17.020000,0.000000,18.820000,4.000000,1.000000,3308.000000,1151.000000,174.000000,669.000000,0.000000,1219.000000
max,2019.000000,12.000000,21977.000000,6377.000000,1792.070000,717.940000,4091.270000,80.560000,1885.470000,1969.000000,256.000000,433687.000000,196944.000000,57707.000000,238440.000000,3194.000000,148181.000000

In [14]:
df.shape

(266378, 21)

In [15]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,total_arrival_flights,num_arr_delays,num_aircarrier_delay,num_weather_delay,...,num_security_delay,num_lateaircraft_delay,num_cancelled,num_diverted,tot_arr_delay_mins,carrier_delay_mins,weather_delay_mins,nas_delay_mins,security_delay_mins,lateaircraft_delay_mins
0,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307.0,56.0,14.68,10.79,...,1.48,9.96,1.0,1.0,2530.0,510.0,621.0,676.0,25.0,698.0
1,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90.0,27.0,7.09,2.00,...,0.00,7.16,0.0,0.0,1390.0,271.0,83.0,581.0,0.0,455.0
2,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752.0,186.0,33.99,27.82,...,1.90,17.53,5.0,0.0,8314.0,1367.0,1722.0,3817.0,139.0,1269.0
3,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842.0,174.0,60.24,20.54,...,4.69,40.75,9.0,1.0,8344.0,3040.0,1032.0,1835.0,115.0,2322.0
4,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383.0,55.0,14.90,8.91,...,0.00,16.61,0.0,0.0,3137.0,815.0,574.0,555.0,0.0,1193.0

# QUESTION: 
- Will my united flight be delayed? 
Target: 
       - United Airlines delayed 
       - United Airline not delayed
- our DF needs to be united flights only from 2003 - 2019 (saved to csv) 
         - also have American, delta, southwest, jetblue data for more models!

In [16]:
df.tot_arr_delay_mins.median()

1341.0

In [114]:
southwest_df = df[df['carrier']=='WN']

In [115]:
southwest_df.to_csv('wn_data.csv')

In [107]:
len(american_df)

16438

In [108]:
len(united_df)

16023

In [109]:
len(delta_df)

23466

In [113]:
len(jetblue_df)

9601

In [116]:
len(southwest_df)

14389

In [17]:
ua_df = df[df['carrier']=='UA']

In [18]:
ua_ewr = ua_df[ua_df['airport']=='EWR']

In [22]:
ua_ewr = ua_ewr.drop(columns = ['carrier', 'carrier_name', 'airport', 'airport_name'])

In [23]:
ua_ewr.to_csv('united_ewr.csv')